@import 'nib'
@import "normalize"
@import "foundation"
grisclaro = #ccc
grisoscuro = #666

body
	color grisoscuro
	font-size 12px
h1
	display none
.todo
	&-addtodo
		display block
		text-align center
		line-height 30px
		font-size 20px
	&-tasks-section
		display block
		width 90%
		margin 0 auto
		 
		word-wrap: break-word;
		text-align left
	&-current
		display block
		width 80%
		margin 0 auto
		&-name
			overflow ellipsis
		a 
			overflow ellipsis
	&-tasks
		width 90%
		display block
		margin 0 auto
		text-align left
		height auto
		vertical-align middle
		padding 5px
		margin-top 5px
		background-color #F8F8F8
		&-date
			font-size 9px
		// border-bottom 1px solid grisclaro	
		span
			vertical-align middle
			overflow ellipsis
			padding 5px
		button
			margin 0px
		
	&-option-task
		font-size 12px
		
	&-notice
		display block
		text-align center
		font-size 12px
		color tomato
		&:after
			content " -"
			font-size 12px
			display inline
		&:before
			content "- "
			font-size 12px
			display inline
#linkgit
	display: block;
	margin: 100px auto;
	width: 100%;
	text-align: center;

		
		
