extends ./layout.jade

block titlemeta
	title ToDo
block titleh1
	h1 ToDo
block content
	div.todo-addtodo
		form(ng-submit="tdc.addtodo()")
			div.row.panel.clearfix
				div.large-6.medium-6.columns
					input(type="text",class="left  radius large-6 medium-6 columns",ng-model="tdc.todo.name",placeholder="ToDo")
				div.large-4.medium-4.columns
					select(ng-model="tdc.todo.client" ng-options="item.name as item.name for item in tdc.clients")
						option(value="") Select Client
				input(class="button right small large-2 medium-2 columns  alert",type="submit",value="Add")

	div.todo-notice(ng-if="tdc.todo.name") Remember to do 
			span "{{tdc.todo.name}}" 
			span(ng-if="tdc.todo.client") for {{tdc.todo.client}} 
			|and track the time

	section.todo-current-section
		article.todo-current(ng-repeat="t in tdc.currentt")
			button.large.button.split.success.expand() 
				b.client(ng-if="t.client") {{t.client}} - 
				|{{t.name}} -
				b {{t.date|date:"medium"}} 
				span(data-dropdown="drop")

			ul(id="drop",class="f-dropdown",data-dropdown-content)
				li 
					a(href="#") Desactivar
				li 
					a(href="#") Concluido
				li
					a(href="#") Terminado
				li
					a(href="#") Descartado 
	section.todo-tasks-section
		article.row.todo-tasks(ng-repeat="t in tdc.tasks")
			div.todo-option-task.large-10.columns
				|#
				span.client(ng-if="t.client") {{t.client}} - 
				|{{t.name}} -
				span {{t.date|date:"medium"}} 
			div.large-2.columns
				input(class="button tiny right ",type="submit",ng-click="tdc.starttask(t)",value="Start Task")