extends ./layout.jade

block titlemeta
	title ToDo
block titleh1
	h1 ToDo
block content
	div.todo-addtodo
		form(ng-submit="tdc.addtodo()")
			div.row.panel.clearfix
				div.large-6.medium-6.columns
					input(type="text",class="left  radius large-6 medium-6 columns",ng-model="tdc.todo.name",placeholder="ToDo")
				div.large-4.medium-4.columns
					select(ng-model="tdc.todo.client", ng-options="item.name as item.name for item in tdc.clients")
						option(value="") Select Client
				input(class="button right small large-2 medium-2 columns  alert",type="submit",value="Add")

	div.todo-notice(ng-if="tdc.todo.name") Remember to do 
			span "{{tdc.todo.name}}" 
			span(ng-if="tdc.todo.client") for {{tdc.todo.client}} 
			|and track the time

	section.todo-current-section
		article.todo-current(ng-repeat="t in tdc.currentt",on-last-repeat)
			div.large.button.split.success.expand
				div.todo-current-name(ng-click="tdc.stoptask(t)")
					b.client(ng-if="t.client") {{t.client}} - 
					|{{t.name}}
					input(type="hidden",id="i{{t.id}}",value="{{t.time}}")
					input(type="hidden",id="d{{t.id}}",value='{{t.date|date:"medium"}}')
					div(id="timer{{t.id}}"){{t.time|totime}}
					
				span(data-dropdown="drop")

			ul(id="drop",class="f-dropdown",data-dropdown-content)
				li 
					a(href="javascript:;",ng-click="tdc.stoptask(t)") stop
				li 
					a(href="javascript:;",ng-click="tdc.deletetask(t)") delete
	
	section.todo-tasks-section
		article.row.todo-tasks(ng-repeat="t in tdc.tasks")
			span.todo-option-task.large-10.medium-8.small-6.columns
				span.todo-tasks-client(ng-if="t.client") {{t.client}} - 
				|{{t.name}} - {{t.time|totime}} 
				span.todo-tasks-date [{{t.date|date:"shortDate"}}]
			
			button.large-2.medium-4.small-4.columns(id="s{{t.id}}",class="button tiny right ",type="submit",ng-click="tdc.starttask(t)") Start